@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Common styles */
.main-content {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  display: flex;
  padding-top: 3%;
  height: 100%;
}

/* Navigation bar */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: var(--scrollbar-width);
  z-index: 100;
  height: 70px;
  width: 100%;
  display: flex;
  @media (max-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
  justify-content: space-between;

  backdrop-filter: blur(10px);
  padding-right: 5px;
  span {
    button:hover {
      background: #8bc34a;
      color: #ffffff;
    }
  }
}

/* Logo */
.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
  padding: 25px;
  font-size: 46px;
  @media (max-width: 540px) {
    visibility: hidden;
  }
  span {
    font-style: italic;
    font-family: "Dancing Script", cursive;
  }
}

.logo {
  width: 30px;
  height: 80px;
}

/* Navigation links */
.nav-links-container {
  gap: 10px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  span {
    position: relative;
  }

  span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  span:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.user {
  transition: ease 0.3s;
  border-radius: 5px;
  background: #000;
  color: #fefefe;
  span {
    font-size: 24.4px;
    font-weight: 500;
    letter-spacing: -0.342px;
  }
  min-width: 100px;
}

.user:hover {
  background: rgb(70, 69, 69);
  color: white;
}

.nav-link {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.104px;
  padding: 10px 15px;
  cursor: pointer;
}
